[DEFAULT]
debug: True

[Nonce]
# disable nonce check. THIS IS A SEVERE SECURTIY ISSUE! Please do only for testing/debugging purposes
nonce_check_disable: False

[Certificate]
revocation_reason_check_disable: False

[Challenge]
# when true disable challenge validation. Challenge will be set to 'valid' without further checking
# THIS IS A SEVERE SECURTIY ISSUE! Please do only for testing/debugging purposes
challenge_validation_disable: True

[Order]
tnauthlist_support: False
retry_after_timeout: 15

[CAhandler]
# CA specific options
handler_file: zerossl_ca_handler.py
cert_validity_days: 90
zerossl_access_key: "<zerossl api access key>"
coredns_domain: "4bots.grid.tf"
coredns_redis_host: "localhost"
coredns_redis_port: 6379
